html {
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #3b90a4, #f55467);
}

.header {
  color: rgba(24, 24, 24, 0.63);
  transform: uppercase;
}

.center {
  text-align: center;
}

span {
  display: block;
}
