html {
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom right, #2ad2f8, #fb2a42);
  background-repeat: no-repeat;
  height: 100vh;
}

.header {
  color: rgba(0, 0, 0, 0.5);
  transform: uppercase;
}

.center {
  text-align: center;
}

span {
  display: block;
}

code {
  display: block;
  text-align: center;
}
